.btn:hover{
    background-color: rgb(81, 92, 102) !important;
    color:white !important;
}
.css-yk16xz-control{
    border-radius: 0px !important;
    background-color: rgb(232, 240, 254) !important;
}

